html {
  background-color: White;
}

body {
  background-color: WhiteSmoke;
  border: 2px solid Black;
  border-radius: 5px;
  box-shadow: 8px 8px 5px DimGray;
  color: Black;
  margin: 1em auto;
  max-width: 70em;
  padding: 1em;
}

blockquote {
  background-color: LightGray;
  border: 5px solid Black;
  box-shadow: 8px 8px 5px DimGray;
  clear: right;
  float: right;
  max-width: 25em;
  padding: 0.50em;
}

img {
  border: 1px dotted Black;
}

hr {
  clear: both;
}

table {
  background-color: Gainsboro;
  border: 5px solid Black;
  box-shadow: 8px 8px 5px DimGray;
  margin: 1em;
  padding: 1em;
  width: 95%;
}

caption {
  caption-side: top;
}

thead {
  font-size: 1em;
  font-weight: bold;
}

tbody tr:nth-child(even){
  background-color: White;
}

tfoot {
  font-size: 0.8em;
  font-weight: bold;
}
