.controller {
  column-gap: 2em;
  display: inline-grid;
  grid-template-columns: 3;
  row-gap: 1em;
}

.controller.front-triggers:after {
  content: "Front-Triggers";
  text-align: center;
}

.controller.front-triggers {
  display: grid;
  grid-column-start:1;
  grid-column-end:4;
  grid-template-columns: auto auto;
  margin: auto;
}

.controller.direction-pad:after {
  content: "Direction-Pad";
}

.controller.direction-pad {
  display: grid;
  grid-column-start:1;
  grid-column-end:2;
  grid-template-columns: auto auto auto;
}

.controller.menu-pad {
  display: grid;
  grid-column-start:2;
  grid-column-end:3;
  grid-template-columns: auto auto auto;
}

.controller.action-pad:after {
  content: "Action-Pad";
  text-align: center;
}

.controller.action-pad {
  display: grid;
  grid-column-start:3;
  grid-column-end:4;
  grid-template-columns: auto auto auto;
}

.controller.control-sticks:after {
  content: "Analog-Sticks";
  text-align: center;
}

.controller.control-sticks {
  display: grid;
  grid-column-start:1;
  grid-column-end:4;
  grid-template-columns: auto auto;
  margin: auto;
}

