<link rel="stylesheet" type="text/css" href="style.css" />

<h1>Heroine Dusk Tile System</h1>

<p>This page is about the first-person view tileset created by Clint 
Bellanger for the game Heroine Dusk.</p>

<p>There are thirteen tiles in a sheet. Each tile is 160x120 or 80x120, so 
each of them can be drawn with an <em>x</em> offset of 0 (for the leftmost and 
middle tiles) or 80 (for the rightmost tiles).</p>

<p>For entities to be scaled based on their tile position, things on tiles 
0-4 should be scaled by about 51% and things on tiles 5-9 should be 
scaled by about 75.5%.</p>

<pre>
The visibility cone is shaped like this:

.........
..VVVVV..
..VVVVV..
...V@V...
.........

Drawing is done in this order (a=10, b=11, c=12)
.........
..02431..
..57986..
...acb...
.........
</pre>

<h2>Tiles</h2>

<p>The environmental art of Heroine Dusk includes almost 20 individual 
tiles depicted at different perspectives and distances. This system is 
versatile and can be used to depict terrain, buildings, objects, and 
characters.</p>

<p>The following sheets have no 13th tiles, meaning they cannot be stood 
upon.</p>

<ul>
<li>Tile 2: Dungeon Wall</li>
<li>Tile 10: Medieval House</li>
<li>Tile 11: Medieval Door</li>
<li>Tile 13: Grave Cross</li>
<li>Tile 14: Grave Stone</li>
<li>Tile 18: Locked Door</li>
</ul>

<p>The following tiles have a ceiling, meaning they must be connected to 
other ceiling tiles or a wall.</p>

<ul>
<li>Tile 3: Dungeon Door</li>
<li>Tile 5: Dungeon Ceiling</li>
<li>Tile 7: Pillar Interior</li>
<li>Tile 8: Chest Interior</li>
<li>Tile 16: Skull Pile</li>
<li>Tile 17: Hay Pile</li>
</ul>

<p>The following tiles originally had minor pixel alignment errors.</p>

<ul>
<li>Tile 15: Water</li>
<li>Tile 12: Tree Evergreen</li>
</ul>

<h2>Characters</h2>

<p>Enemies: Shadow Tendrils, Imp, Shadow Soul, Zombie, Skeleton, Druid, 
Mimic, Death Speaker</p>

<p>Residents: Sage Therel, Woodsman, Thomas the Fence</p>

<p>Event: The Pilgrim Inn, Stonegate Entrance, Thieves Guild, A Nightmare</p>

<h2>Weapons</h2>

<p>Weapon and armor are shown on the main character's avatar image.</p>

<ol>
<li>Bare Fists</li>
<li>Wood Stick</li>
<li>Iron Knife</li>
<li>Bronze Mace</li>
<li>Steel Sword</li>
<li>War Hammer</li>
<li>Battle Axe</li>
<li>Great Sword</li>
</ol>

<h2>Armor</h2>

<ol>
<li>No Armor</li>
<li>Serf Rags</li>
<li>Travel Cloak</li>
<li>Hide Cuirass</li>
<li>Rivet Leather</li>
<li>Chain Maille</li>
<li>Plate Armor</li>
<li>Wyvern Scale</li>
</ol>

<h2>Spells</h2>

<p>Spells are available as dialog buttons.</p>

<ol>
<li><img src="files/heal.png" alt="" title="" /> Heal
<ul>
<li>Gar'ashi Monastery.</li>
</ul></li>
<li><img src="files/burn.png" alt="" title="" /> Burn
<ul>
<li><em>"Fire magic is effective against undead and bone." - Sage Therel, 
Cedar Village</em></li>
</ul></li>
<li><img src="files/unlock.png" alt="" title="" /> Unlock
<ul>
<li><em>"Unlock magic opens doors and harms automatons." - Thomas the Fence, 
Trade Tunnel</em></li>
</ul></li>
<li><img src="files/light.png" alt="" title="" /> Light
<ul>
<li><em>"I'm staying right here until the sun comes back." - Woodsman, 
Monastery Trail</em></li>
</ul></li>
<li><img src="files/freeze.png" alt="" title="" /> Freeze</li>
<li><img src="files/reflect.png" alt="" title="" /> Reflect</li>
</ol>

<h2>Magic Stones</h2>

<ul>
<li><img src="files/sapphire.png" alt="" title="" /> Magic Sapphire (MP Up)
<ul>
<li>Zuruth Plains</li>
<li>Mausoleum</li>
</ul></li>
<li><img src="files/emerald.png" alt="" title="" /> Magic Emerald (HP Up)
<ul>
<li>Monastery Trail</li>
<li>Trade Tunnel</li>
</ul></li>
<li><img src="files/ruby.png" alt="" title="" /> Magic Ruby (Atk Up)
<ul>
<li>Mausoleum</li>
</ul></li>
<li><img src="files/diamond.png" alt="" title="" /> Magic Diamond (Def Up)
<ul>
<li>Canal Boneyard</li>
</ul></li>
</ul>

<h2>My Themes</h2>

<h3>Temple of Bone</h3>

<p>Graves. Moon. Bones.</p>

<h3>Temple of Shadow</h3>

<p>Darkness. Stealth. Shadows.</p>

<h3>Temple of Artifice</h3>

<p>Clockwork. Steel. Automatons.</p>

<h3>Temple of Blood</h3>

<p>Gold. Wine. Imps.</p>

<h2>Links</h2>

<ul>
<li><a href="https://www.xcvgsystems.com/ascension-adventure/">Ascension: Adventure</a></li>
<li><a href="https://www.xcvgsystems.com/ascension-adventure-2/">Ascension: Adventure 2</a></li>
<li><a href="https://opengameart.org/content/first-person-dungeon-crawl-art-pack">First Person Dungeon Crawl Art Pack</a></li>
<li><a href="http://heroinedusk.com/">Heroine Dusk</a></li>
<li><a href="https://github.com/clintbellanger/heroine-dusk/">Heroine Dusk - GitHub</a></li>
</ul>
