<link rel="stylesheet" type="text/css" href="style.css">

<h1>Boom Scripting</h1>

<h2>Introduction</h2>

<p>DeHackEd and Boom Extensions grant access to many of Boom's original 
and extended functions and parameters. This document is an attempt to 
conceptualize and explain what it means to fully utilize the Doom engine 
in theory, as well as what can actually be done in practice.<br>
<br>
The scope of this document is confined by what Doom itself was 
designed for. ZDoom scripting is beyond the scope. This document 
considers Boom (the source port by TeamTNT) as a conceptual base and 
PrBoom+ as a reference for application and testing.<br>
<br>
Much of the information for this document was gathered from <a 
href="boomdeh.txt">&quot;Dehacked support in BOOM, extended 
support&quot;</a> and <a href="SAMPLE.DEH">&quot;Patch File for DeHackEd 
v3.0&quot;</a>.</p>

<h2>Getting Started</h2>

<p>Scripting the engine is as simple as writing a text file called 
<code>dehacked.lmp</code>, putting it in a subfolder called 
<code>lumps</code>, and adding the following lines to your 
<code>wadinfo.txt</code> file.</p>

<pre>
[LUMPS]
DEHACKED
</pre>

<p>DeuTex will pack <code>dehacked.lmp</code> into your wad the 
next time you run <code>deutex -make</code>.<br>
<br>
More detailed information on how to use DeuTex will be 
covered in another document.</p>

<h2>Frames <small>(Boom's Script)</small></h2>

<p>The engine's entire script is a list of <a href="script.txt">967 
frames</a> of animation and action. A frame in <code>dehacked.lmp</code> 
looks like this.</p>

<p>
<pre>
Frame 22 (Shotgun 2)
Sprite = 2
Subsprite = 0
Duration = 7
Next frame: 23 (Shotgun 3)
</pre>
</p>

<p><strong>Sprites <small>(Boom's Visual Effects)</small></strong>: the 
engine loads <a href="sprites.html">137 sprites</a> for use in any frame 
of the script. For animation each sprite has one or more subsprites 
named A through Z etc.. Unfotunately you must refer to the sprites and 
subsprites by number in the dehacked lump.<br>
<br>
Note: you can tell the engine to render the subsprite in full 
brightness for one frame by adding 32768 to the subsprite number.<br>
<br>
Note: each sprite has either one viewing angle (angle 0) or eight 
(angles 1-8). The engine automatically displays sprites from the correct 
viewing angle. Greg Lewis wrote about this feature in <a target="_blank" 
href="https://aspectsweb.co.uk/dehacked/doomsprites1.html">Naming 
conventions for Doom Sprites</a> and <a target="_blank" 
href="https://aspectsweb.co.uk/dehacked/doomsprites2.html">Adding and 
Replacing Doom Sprites</a>.<br>
<br>
<strong>Code Pointers <small>(Boom's Internal Functions)</small></strong>: 
the engine has <a href="codeptr.txt">74 functions</a> available to any 
frame of the script. You can assign one fuction to each frame as 
follows in <code>dehacked.lmp</code>.</p>

<pre>
[CODEPTR]
FRAME 22 = FireShotgun
</pre>

<p>Note: although designed well, some of the engine's 
functions if assigned to the wrong frame can cause major bugs and 
crashes! Take care especially not to assign monster attacks to the 
player or vice versa.</p>

<h2>Things <small>(Boom's Actors)</small></h2>

<p>The engine provides access to <a href="things.html">137 things</a> 
which act as decorations, monsters, or pickups. Each thing has a set of 
physical properties, a set of sounds to make, and frames to act out from 
the script. The following lines in <code>dehacked.lmp</code> are used to 
create Doom's Imp.</p>

<pre>
Thing 2 (Hell Trooper)
Hit points = 80
Reaction time = 7
Pain chance = 180
Speed = 8
Width = 1048576
Height = 3670016
Mass = 100
Alert sound = 39
Attack sound = 12
Pain sound = 27
Death sound = 62
Action sound = 76
Initial frame = 442
First moving frame = 444
Injury frame = 455
Close attack frame = 452
Far attack frame = 452
Death frame = 457
Exploding frame = 462
Respawn frame = 470
Bits = SOLID+SHOOTABLE+COUNTKILL

Thing 32 (Hellfire)
Speed = 10
Missile damage = 8
</pre>

<p>The engine loads <a href="sounds.html">108 sounds</a> which every <em>thing</em> can be 
assigned to make noise with, under specific circumstances.<br>
<br>
Note: some exceptions and additions have been hard-coded into Boom 
and can't generally be changed by the dehacked lump. [list and describe 
these]</p>

<h2>Strings <small>(Boom's Narrator)</small></h2>

<p>The narrator speaks in the second person present tense. 
It communicates with you while setting up the game, tells you the names 
of item pickups and maps, speaks during intermission screens, and more. 
These strings are defined in <code>dehacked.lmp</code> like 
this.</p>

<pre>
[STRINGS]
STSTR_NCON = No Clipping Mode ON
PD_BLUE0 = You need a blue key to open this door
GOTPLASMA = You got the plasma gun!
HUSTR_E1M1 = E1M1: Hangar
C5TEXT = Congratulations, you've found the secret\nlevel...
CC_BARON = Baron of Hell
</pre>

<p>All of the strings that can be defined are listed in <a 
href="boomdeh.txt">this document</a> under STRINGS.</p>

<h2>Conclusion</h2>

<p>The development of <em>Doom</em>, <em>The Ultimate Doom</em>, and 
<em>Hell on Earth</em> reveals a natural progression of additions and 
improvements to the engine. Boom did a lot of work to continue that 
evolution, and lives on in PrBoom+. Heretic and Hexen introduced more 
environmental interaction and object scripting which is a tradition that 
lives on in ZDoom and the amazing modifications made by people utilizing 
the modern GZDoom port.</p>

<hr>

<h2>Links</h2>

<ul>
    <li><a target="_blank" href="https://soulsphere.org/projects/boomref/">Boom Reference</a></li>
    <li><a target="_blank" href="https://doomwiki.org/wiki/DeHackEd">DeHackEd at The Doom Wiki</a></li>
    <li><a target="_blank" href="https://www.doomworld.com/idgames/?id=7703">DeHackEd v3.1</a> (contains some example files)</li>
    <li><a target="_blank" href="https://aspectsweb.co.uk/dehacked/">Dehacked Tutorials</a></li>
    <li><a target="_blank" href="https://github.com/fragglet/deh9000">DEH 9000</a></li>
    <li><a target="_blank" href="https://freedoom.github.io/">Freedoom</a></li>
    <li><a target="_blank" href="https://www.doomworld.com/files/file/17383-operation-hydra/">Operation: Hydra</a></li>
    <li><a target="_blank" href="http://prboom-plus.sourceforge.net/">PrBoom+</a></li>
</ul>
</section>
