<link rel="stylesheet" type="text/css" href="style.css" />

<h1>HIDEOUS DESTRUCTOR</h1>

<p>Hideous Destructor is a free GZDoom mod for Freedoom. The mod requires
a lot of keybindings to play so its an excellent subject for
controller theory.</p>

<h2>Configure Controls</h2>

<p>At a minimum, the following keys must be bound before you can play
Hideous Destructor. These bindings are in <strong>HD Options</strong>--><strong>Configure
HD Controls</strong>. The rest of this guide assumes you have bound these keys
and have not changed any other GZDoom defaults.</p>

<pre>
   Weapon Reload: R
     Weapon Zoom: F
Secondary Reload: H
Weapon Fire Mode: J
     Mag Manager: K
   Weapon Unload: L
     Drop Weapon: Q
      Toggle Run: CapsLock
          Crouch: Ctrl
     Jump/Mantle: Space
          Sprint: Shift
</pre>

<h2>Basic Play</h2>

<p>To start you must choose <strong>New Game</strong> and pick a loadout, a chapter,
and a skill level. Hideous Destructor has standard mouse-and-keyboard
FPS controls. </p>

<pre>
Mouse: aim and FIRE, ALT-FIRE
WASD: move
E: open door, press switch, respawn
R: reload

Keys 1-8: switch between weapons (double-press for some)

Wounds: you can see blood on the ground if you are injured. If this happens,
you must press 9 and hold FIRE to bandage your wound.

Walking and running: press Capslock to toggle.

Catching fire: move Mouse around quickly to put yourself out.
</pre>

<h2>Intermediate Play</h2>

<p>You can pick up items from the ground to obtain ammo, equipment, and
new weapons.</p>

<pre><code>E: pick up item/weapon
Hold E: view weapon inventory
Q: drop current weapon
Double Press K: enter Item Manager
  FIRE/ALT-FIRE: select item
  Q: drop selected item
</code></pre>

<h2>Advanced Play</h2>

<pre><code>[ and ]: cycle through usable items
Enter: prepare item
  E: view usage instructions
</code></pre>

<h2>Controller Theory</h2>

<p>This is an examination of minimal controls for Hideous Destructor. 
Defaults shown as --- must be bound to play HD. H, J, K, and L were
chosen because they are easy to remember (1, 2, 3, 4) and are not bound
by default to any other actions in GZDoom.</p>

<pre><code>Legend
  GZDoom Name      HD Name         Default/Mine
Action
  Fire             FIRE{F}         Left Mouse
  Secondary Fire   ALTFIRE{AF}     Right Mouse
  Weapon Reload    RELOAD{R}       --- R
  Weapon Zoom      ZOOM            --- F
  Use / Open                       E
  Jump             JUMP/MANTLE     Space
  Crouch Toggle                    X
  Run              SPRINT          Shift
Weapon
  Weapon State 1   ALTRELOAD       --- H
  Weapon State 2   FIREMODE{FM}    --- J
  Weapon State 3   MANAGER         --- K
  Weapon State 4   UNLOAD{U}       --- L
Movement
  Movement         MOVEMENT        WASD
  Toggle Run       WALK/RUN        Capslock
Inventory
  Activate item                    Enter
  Drop weapon      DROP            --- Q
</code></pre>

<p>Several of the controls work in different contexts.</p>

<pre>
FIRE and ALTFIRE are re-used on inventory and management screens.

DROP [Q] is an important action used in various contexts.

ZOOM [F] is an alternate action used in various contexts.

FIREMODE [J] is an alternate action used in various contexts.

ZOOM combined with A or D produces the LEAN action.
</pre>

<h2>Papercuts</h2>

<p>Some problems that may come up when learning to play. Overcoming these 
is important for new users.</p>

<ul>
<li>how many keys do I need to bind?!</li>
<li>how do I drop items?</li>
<li>some weapons are inaccessible from number keys?</li>
<li>how do I use items?</li>
</ul>

<h2>Conclusion</h2>

<p>This guide is an attempt to make starting with Hideous Destructor as 
smooth as possible. Hideous Destructor is a well-designed innovation on 
top of the Doom engine set in the Freedoom universe. However, the game 
asks a lot from the player even before getting into the more advanced 
aspects of the game. For instance, it asks the player to bind at least 8 
keys and choose from 1 of 20 loadouts before even starting. As such I 
recommend it but not for casual pick-up-and-play.</p>

<h2>LINKS</h2>

<ul>
<li><a href="linuxhd.txt">Controller Theory Gamepad</a></li>
<li><a href="https://forum.zdoom.org/viewtopic.php?t=12973">Hideous Destructor 4.6.1a</a></li>
<li><a href="https://accensi.gitlab.io/hdportal/">Hideous Destructor HQ</a></li>
<li><a href="https://codeberg.org/mc776/HideousDestructor">HideousDestructor at Codeberg</a></li>
<li><a href="https://zdoom.org/wiki/Multiplayer">Multiplayer</a></li>
</ul>
