html {
  background-image:url(floor4_6.png);
  font-family: Verdana, Geneva, sans-serif;
  margin: auto;
  max-width: 8.5in;
}

body {
  background-image:url(aqf025.png);
  border: outset 3px DimGrey;
  border-radius: 5px;
  margin: 8px auto;
  max-width: 70em;
  padding: 1em
}

/* Headers look like bolted-on interface labels */
h1, h2, h3 {
  background-color: DimGray;
  border: outset 2px Gray;
  border-radius: 5px;
  color: Black;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 1px 1px 0px Gray;
  text-transform: uppercase;
}

hr {
  outline: 1px inset Black;
}

/* most of the writing should look like a terminal display */
body > ul {
  padding: 1em;
}

p, pre, ul {
  background-color: #000B00;
  color: LimeGreen;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  list-style-position: inside;
  list-style-type: square;
  outline: inset DarkSeaGreen;
  padding: 2em;
}

table {
  background-color: #000B00;
  color: LimeGreen;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  margin: 1em;
  outline: inset DarkSeaGreen;
  padding: 1em;
  display: block;
}

ol {
  background-color: #000B00;
  color: LimeGreen;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  list-style-position: inside;
  margin: 1em;
  outline: inset DarkSeaGreen;
  padding: 1em;
}

li ul {
  margin: 0;
  outline: none;
  padding: 0 1em;
}

p a, pre a, table a, ul a {
  color: LimeGreen;
}

img {
  display: inline-block;
  height: 150px;
  margin: 1em;
  outline: solid 2px Green;
  width: auto;
}

/* top-level links look like chunky buttons */
center > a {
  border: outset 4px DarkGray;
  color: Black;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

center > a:link {
  background-color: Blue;
}

center > a:visited {
  background-color: Magenta;
}

center > a:active {
  border: solid 4px Gray;
}
