/* This stylesheet is designed to resemble the core rulebooks with a
   particular focus on _Core Rulebook III_. */

html {
  background-image: url(../images/dungeon-wall.png);
  color: Black;
  font-family: "Times New Roman", "Times", serif;  
  margin: auto;
  max-width: 70em;
}

body {
  background-image: url(../images/dungeon-floor.png);
  border: 5px solid Black;
  padding: 1em;
}

/* headers are all blue and are uppercase */
h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  color: DarkSlateBlue;
  border-color: DarkSlateBlue;
  margin-bottom: 0;
}

/* the first paragraph after any header is NOT indented */
h1 + p, h2 + p, h3 + p, h4 + p, ul + p {
  text-indent: 0;
}

/* second-level headers are specially stylized */
h2 {
  border-bottom: solid 2px;
  text-align: right;
  width: 100%;
}

blockquote {
  font-style: italic;
  margin: 1em 0 1em 0;
}

/* most paragraphs are indented and close to adjacent elements */
/* see how most lists in PHB are actually paragraphs */
p {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}

/* list items have no decorators */
/* multiline items are indented after first line */
/* see Monster Manual stat blocks for example */
ul {
  list-style: none;
  margin: 0 0 1em 2em;
  padding: 0;
  text-indent: -1em;
}

ol {
  margin: 0 1em;
  padding: 0;
}

/* table captions have a bold Arial font */
caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-variant: small-caps;
  font-weight: bold;
  margin-top: 1em;
  text-align: left;
} 

/* tables alternate field colors for readability */
tr:nth-child(odd) {background-color: Ivory;}

tr:nth-child(even) {background-color: LemonChiffon;}

th:nth-child(1) {text-align: left;}

th, td {padding-right: 1em;}

tfoot {
  background-color: Ivory;
  font-size: small;
}

a:active, a:hover, a:link, a:visited {
  color: Black;
  text-decoration: underline;
}

/* arrange footer nicely */
footer {
  border-top: groove 2px Gray;
  clear: both;
  text-align: center;
}

/* attribute the art used in this stylesheet */
footer::after {
  content: "background art \"Dungeon Tileset\" by Ryan Hanson is licensed CC-BY-SA 3.0";
  display: block;
  font-weight: bold;
}
