<ul>
  <li><a href="https://www.ex-astris-scientia.org/">Ex Astris Scientia</a></li>
  <li><a href="http://rpgclassics.com/">RPGClassics 2.0</a></li>
  <li><a href="https://www.icculus.org/">icculus.org</a></li>
</ul>
