html {
    background-image:url(wood.png);
#    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    color: White;
    margin: auto;
    max-width: 50em;
}

body {
    background-color: DimGrey;
    border: 10px solid transparent;
    border-image: url(ui_big_pieces.png) 7% round;
    border-radius: 1em;
    padding: 1em;
}

img {
    background-color: DimGrey;
    border: dotted White;
    border-radius: 8px;
    float: right;
    padding: 1em;
}
