<link rel="stylesheet" type="text/css" href="style.css" />

<h1>Star War</h1>

<p>An overly simplified wargame based on concepts seen in <em>Battlestar 
Galactica</em> and using rules from <em>Full Thrust</em> and <em>More Thrust</em>.</p>

<h2>Fleet Composition</h2>

<h3>Capital Ships</h3>

<ul>
<li>Battletorch (Battledreadnought class capital ship) <img src="files/shp_a.png" alt="Battle" title="" /></li>
<li>Supertorch (Superdreadnought class capital ship) <img src="files/shp_b.png" alt="Dread" title="" /></li>
</ul>

<h3>Fighters</h3>

<ul>
<li>Star Lancer (multi-role starfighter) <img src="files/ftr_a.png" alt="Lancer" title="" /></li>
<li>Star Marauder (attack starfighter) <img src="files/ftr_b.png" alt="Marauder" title="" /></li>
</ul>

<h2>Scenarios</h2>

<h2>Links</h2>

<ul>
<li><a href="http://www.tecr.com/galactica/">Battlestar Galactica: Technical Manual</a></li>
<li><a href="https://opengameart.org/content/space-sprites-0">Space Sprites</a></li>
<li><a href="http://www.projectrho.com/public_html/rocket/torchships.php">Torchships - Atomic Rockets</a></li>
</ul>
