html {
  background-image: linear-gradient(to bottom right, Green, MediumBlue);
  color: Tan;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: auto;
  max-width: 70em;
  padding: 1em;
}

h1, h2 {
  background-color: DarkBlue;
  border-radius: 0 1em;
  display: inline;
  padding: 0.4em;
}

a {
  background-color: DarkBlue;
  border: 1px solid White;
  border-radius: 0 1em 0 0;
  color: Coral;
  padding: 0 0.5em;
  text-decoration: none;
}

a:hover {
  background-color: Orange;
  color: White;
}
