html {
    background-image: url(nightsky2-top.png);
    color: White;
    font-family: Papyrus, sans-serif;  
    margin: auto;
    max-width: 50em;
}

body {
  background-color: DarkSlateBlue;
  opacity: 90%;
  padding: 1em;
}

a {
  color: PowderBlue;
}

a:visited {
  color: Plum;
}
