body {
  background-image: url("../images/hounds.png");
  font-family: "Lucida Console", "Courier New", monospace;
  height: 480px;
  margin: auto;
  width: 48.25em;
}

header, main, footer { 
  background-color: #bebebe;
  border: 5px outset #e5e5e5;
  color: Black;
  outline: 1px solid Black;
  margin: 1em auto 1em auto;
  max-width: 32em;
  padding: 1em;
}

hr {
  border-left: none; 
  border-top: 1px solid #4d4d4d;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  height: 2px;
}

main a {
  background-color: #bebebe;
  border: 2px inset #e5e5e5;
  color: #000000;
  text-decoration: none;
}
